/* header & sidebar */
@media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
  }
  /* footer */
  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - 250px);
    }
  }
  
  @media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
      width: calc(100% - 55px);
    }
  }